<div class="mentorship" id="mentorship">
    <h1 style="color: rgb(226, 81, 81); text-align: center;">Mentorship</h1>
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- <img src="../../../assets/images/digital_marketing.jpg" class="d-block w-100" alt="..."> -->
                <div class="d-block w-100">
                    <p>
                        “The delicate balance of mentoring someone is not creating them in your own image, but giving
                        them the opportunity to create themselves.”
                    </p>
                    <p>— Steven Spielberg</p>
                </div>
            </div>
            <div class="carousel-item">
                <!-- <img src="../../../assets/images/digital_marketing.jpg" class="d-block w-100" alt="..."> -->
                <div>
                    <h1>TEN: Revolutionising Mentorship</h1>
                    <p>
                        What sets best of the institution like IITs in India and Ivy League in the US apart from any
                        other
                        educational institute?
                    </p>
                    <p>
                        It is their close-knit network of Alumni who help the students of these institutes succeed in
                        their career by mentoring them
                        and providing guidance and help at different stages of their career, starting from their college
                        years.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <!-- <img src="../../../assets/images/digital_marketing.jpg" class="d-block w-100" alt="..."> -->
                <div>
                    <h1>Get the best mentors</h1>
                    <p>TEN is making quality mentorship accessible to all</p>
                    <button class="btn btn-primary"></button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container-fluid" id="ment">
        <div class="row">
            <div class="col-md-6">
                <h2>GET INSTANT ACCESS TO THESE EXCLUSIVE LESSONS AND 100's MORE...</h2><br>
                <img src="../../../assets/images/book-stack.webp">
            </div>
            <div class="col-md-6">
                <br>
                <p>The new way of learning.</p>
                <p>
                    If you're like most of our members you believe in expanding your knowledge
                    and leveling up your skillsets, but you just don't have the time to read the books that you know
                    will get you there.
                </p>
                <p>We engineered a new, fun and engaging way to learn directly from the highest level authors and
                    thinkers...</p>
            </div>
        </div><br><br>
        <div style="text-align: center;">
            <button class="btn btn-danger btn-lg">TRY TEN MENTORSHIP @ INR 500</button>
        </div>
    </div>
    <div class="container-fluid" id="whyten">
        <br>
        <div>
            <h1>WHY TEN?</h1>
        </div><br><br>
        <div class="container-fluid" id="cont">
            <div class="row">
                <div class="col-md-4">
                    <p>
                        We feature only the Most Powerful
                        lessons from handpicked Books
                        that are Guaranteed to immediately
                        improve your financial and social life
                    </p><br>
                </div>
                <div class="col-md-4">
                    <p>
                        You will be taught directly by
                        the authors, CEOs and experts themselves
                        for optimal and efficient learning...
                    </p><br>
                </div>
                <div class="col-md-4">
                    <p>
                        You'll have access to exclusive video courses,
                        audio lessons, workbooks, and cheat sheets
                        that you can use in any combination to best
                        suit your learning preferences...
                    </p><br>
                </div>
            </div>
        </div><br><br>
        <div style="text-align: center;">
            <button class="btn btn-danger btn-lg">TRY TEN MENTORSHIP @ INR 500</button>
        </div>
    </div>
    <div class="container-fluid" id="campform">
        <div class="container" style="background-color:white; padding: 5%;">
            <h3>Career Forum Registration</h3>
            <hr>
            <p>If you would like to take career counselling from TEN, please fill in your details
                in the form bellow and you will be automatically registered.</p>
            <form>
                <div class="row g-4">
                    <div class="col-md-6">
                        <label for="firstname" class="form-label">Name *</label>
                        <input type="text" class="form-control" placeholder="First" required>
                    </div>
                    <div class="col-md-6">
                        <label for="lastname" class="form-label">&nbsp;</label>
                        <input type="text" class="form-control" placeholder="Last" required>
                    </div>
                    <div class="col-md-12">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="col-md-12">
                        <label for="phoneno" class="form-label">Phone No *</label>
                        <input type="tel" class="form-control" required>
                    </div>
                    <!-- <div class="col-md-12">
            <label for="teamname" class="form-label">Team Name *</label>
            <input type="text" class="form-control" required>
        </div> -->
                    <div class="form-floating">
                        <label for="comments">Comments or questions</label>
                        <textarea class="form-control" style="height: 100px"></textarea>
                        <!-- <label for="floatingTextarea2">Comments or questions</label> -->
                    </div>
                </div><br>
                <div style="text-align: center;">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div><br><br>
        <h3 style="color: white; text-align: center;">To complete your registration, please scan and pay</h3>
        <br>
        <div style="text-align: center;">
            <img src="../../../assets/images/qr_for_hiring.jpg">
        </div>
    </div>
</div>

