<div class="container" [ngStyle]="{'text-align':'center'}">
    Subsribe to our newsletter
    <form>
        <div class="mb-3">
            <input size="10" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Full Name">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="College Name">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" placeholder="Mobile No.">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Join TEN's Discord Community</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>