
<div class="container">
    <div class="certification">
        <div class="container" id="certificate">
            <h1>TEN Certified Expert</h1>
            <p>Dear Intern,</p>
            <p>We at TEN not only strive to provide the best guidance to our
                interns but also ensure
                their experience with us proves to be a career milestone.</p>
            <p>We hereby offer to certify you as an Expert in your domain for a paltry sum of INR 200/- (RUPEES TWO
                HUNDRED
                ONLY).</p>

            <p>This Internship encompasses all the major learnings you gave and received and establishes you as a
                certified
                professional.
                We are certain this accomplishment will go a long way in building your fledgling career and prove
                instrumental in making you the best in business.</p>
            <p>The QR code below helps you to make the required payment.
                The certificate would be shared on your email Id registered with us, once the payment is successful.</p>
            <p>Also, fill up the form below that helps you subscribe for the required certificate. </p>
            <p>We look forward to certifying you and thereby enhancing your skill set and enriching your ever-growing
                profile.</p>


            <div class="container">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="intershiptrack" class="form-label">Intership Track</label>
                        <select id="intershiptrack" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullname" placeholder="Full Name">
                    </div>

                    <div class="col-md-6">
                        <label for="mobileno" class="form-label">Mobile No.</label>
                        <input type="tel" class="form-control" id="mobileno" placeholder="Mobile No.">
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                    </div>
                    <div class="col-md-6">
                        <label for="payment" class="form-label">Payment Transaction ID</label>
                        <input type="text" class="form-control" id="payment" placeholder="Payment Transaction ID">
                    </div>

                    <div class="col-12" [ngStyle]="{'text-align':'center'}">
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </div>
                </form>
            </div>
            <div style="text-align: center;">
                <br>
                <img src="../../../assets/images/qr_for_hiring.jpg">
            </div>
        </div>
    </div>
</div>
