<br>
<div class="container">
  <button class="btn btn-primary" id="cart">Cart</button>
  <button class="btn btn-primary" id="login" (click)="login()">Log In</button>
  <div class="logo">
    <h2>The</h2>
    <h2>Entrepreneurship</h2>
    <div id="search">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <h2>Network</h2>
  </div>
</div>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TEN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="home()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="Online_courses()">Online Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="hiring_interns()">We're Hiring</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" (click)="blogs()">Blog</a></li>
              <li><a class="dropdown-item" href="#" (click)="certification()">Certification</a></li>
              <!-- <li>
                <hr class="dropdown-divider">
              </li> -->
              <li><a class="dropdown-item" href="#" (click)="alumni()">Almuni Team</a></li>
              <li><a class="dropdown-item" href="#" (click)="forum()">Forum</a></li>
              <li><a class="dropdown-item" href="#" (click)="hackathon()">Hackathon</a></li>
              <li><a class="dropdown-item" href="#" (click)="membership()">Membership Registration</a></li>
              <li><a class="dropdown-item" href="#" (click)="ambassador()">Campus Ambassador Program</a></li>
              <li><a class="dropdown-item" href="#" (click)="mentorship()">Mentorship</a></li>
              <li><a class="dropdown-item" href="#" (click)="social_media()">Social Media</a></li>
              <li><a class="dropdown-item" href="#" (click)="testimonial()">Testimonials</a></li>
              <li><a class="dropdown-item" href="#" (click)="contactus()">Contact Us</a></li>
              <li><a class="dropdown-item" href="#" (click)="complaints()">Complaints</a></li>

            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div><br><br>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="close1()" style="position: relative;">&times;</span>

    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1>Create Account</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your email for registration</span>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button>Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Sign in</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signIn" (click)="signIn()">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp" (click)="signUp()">Sign Up</button>
          </div>
        </div>
      </div>
    </div>




  </div>

</div>
