
<div class="hackathon" id="Hackathon">
    <div class="container" id="hackathon">
        <h1>Hackathon</h1>
        <div class="row">
            <div class="col-md-6" id="hackpic">
                <img src="../../../assets/images/HackathonIllustration.webp" style="width:100%; height: auto;">
            </div>
            <div id="hacktext" class="col-md-6">
                <h1><i>A problem is a</i></h1>
                <h1><i>chance for you to do</i></h1>
                <h1><i>your best.</i></h1>
                <h4><i>--Duke Ellington</i></h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8" id="abouthactext">
                    <h1><i>About TEN HACK'20</i></h1>
                    <p>
                        TEN Hack ’20 will be an online event and
                        you can be a part of it by sitting anywhere in the world.
                    </p>
                    <p>
                        It promises to be a surreal experience, with applicants
                        witnessing new path-breaking technologies and exposure to industries
                        of different domains. As a part of the process, every participant will
                        be given a problem statement pertinent to today’s world and they are
                        expected to come up with innovative solutions, present them to a panel of
                        technical and functional architects, and convince them as to what makes their solutions work.
                    </p>
                    <p>
                        The hack aims at providing students with a platform to get in touch with the pioneers of modern
                        technology so as to whet their appetite for gaining technological knowledge. Under the
                        mentorship of
                        these seasoned veterans, participants will have the opportunity to construct their ideas in a
                        way that
                        makes them more pragmatic and profitable.
                    </p>
                    <p>
                        The participants will compete for an attractive prize money and certificates. And with
                        applications from
                        more than 200 colleges country-wide to be expected, it surely makes for a fascinating contest.
                    </p>
                    <button class="btn btn-primary">Events</button>
                </div>
                <div class="col-md-4" id="abouthacpic">

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4" id="talks">
                    <!-- <div class="talks"> -->
                    <h2 style="color: aquamarine;"><b>TALKS</b></h2>
                    <p>
                        TEN Hack will initiate with talks from experts hailing from a plethora
                        of versatile industries ranging from sales to tech. The participants
                        would be given an indication on to their journey into the corporate environment,
                        and to motivate them for the challenges that await them. TEN Hack is focused on bringing
                        leading industry experts, tech pioneers and trailblazers to help ignite the fire of innovation
                        in participants.
                    </p>
                    <!-- </div> -->
                </div>
                <div class="col-md-4" id="workshop">
                    <!-- <div class="workshop"> -->
                    <h2 style="color: aquamarine;"><b>WORKSHOP</b></h2>
                    <p>
                        While the world seems to have come to a halt, we here at TEN Hack have collaborated with leading
                        personalities
                        in order to ensure that our participants are provided with a real-time exposure. The purpose of
                        these workshops
                        is to instill the participants with a mindset to take on ever-changing obstacles arising in the
                        industry and cultivate
                        a problem solving ability in them.
                    </p>
                    <!-- </div> -->
                </div>
                <div class="col-md-4" id="partnership">
                    <!-- <div class="partnership"> -->
                    <h2><b>PARTNERSHIP</b></h2>
                    <ul>
                        <li>TEN Hack will be conducted in partnership with you as a case partner.</li>
                        <li>Monetary sponsorship in terms of cash rewards to TEN Hack winners and innovative ideas.</li>
                        <li>Get solutions to your problem statements at TEN Hack from students all over the world
                            participating in the event.</li>
                        <li>Mentor the projects at TEN Hack by sending technical and business expertise from your
                            company.</li>
                        <li>The best solution(s) shall be rewarded with a cash prize by your company.</li>
                    </ul>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="desc" style="text-align: center; font-size: 150%;">
                <h3>Description</h3>
                <ul>
                    <li>Group: 5 People</li>
                    <li>Registration fees: ₹1,000 (₹200 each)</li>
                    <li>Prize: ₹10,000 </li>
                    <li>Duration: 2 week</li>
                </ul><br><br>
                <h1 style="font-size: 300%;">Hackathon</h1>
                <h1 style="font-size: 300%;">2020</h1>
            </div>
        </div><br><br><br>
        <div class="container">
            <h1 style="text-align: center;">Registration</h1>
            <p style="text-align: center;">Please fill the information below to Register for HACKATHON</p>
            <form class="row g-3">
                <div class="col-md-4">
                    <label for="firstname" class="form-label">First Name *</label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label for="lastname" class="form-label">Last Name *</label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label for="email" class="form-label">Email *</label>
                    <input type="email" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label for="phoneno" class="form-label">Phone No *</label>
                    <input type="tel" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label for="teamname" class="form-label">Team Name *</label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label for="address" class="form-label">Address *</label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col-12">
                    <label for="idea" class="form-label">What is your Idea? *</label>
                    <input type="text" class="form-control" required>
                </div>

                <div class="col-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div><br><br>
