<div class="alumni_team" id="alumni_team">
    <div class="container" style="background-color: rgb(211, 53, 53); color: white;text-align: center; padding: 1%;">
        <h1>Alumni Team</h1>
    </div>
    <div class="container">
        <div class="row" id="alumni1">
            <div class="col-sm-3">
                <img src="../../../assets/images/alumni team/suyash.webp">
                <p> Suyash Gupta​</p>
            </div>
            <div class="col-sm-3">
                <img src="../../../assets/images/alumni team/yagya.webp">
                <p>Yagya Vats​</p>
            </div>
            <div class="col-sm-3">
                <img src="../../../assets/images/alumni team/Aakar (1).webp">
                <p>Aakar Aggarwal</p>
            </div>
            <div class="col-sm-3">
                <img src="../../../assets/images/alumni team/sanchit.webp">
                <p>Sanchit Gupta</p>
            </div>
        </div>
        <div class="row" id="alumni2">
            <div class="col-sm-3">
                <img src="../../../assets/images/alumni team/apoorv.webp">
                <p>Apoorv Agarwal</p>
            </div>
            <div class="col-sm-3">
                <img src="../../../assets/images/alumni team/ankur.webp">
                <p>Ankur Dahiya​</p>
            </div>
            <div class="col-sm-3">
                <img src="../../../assets/images/alumni team/mayank.webp">
                <p>Mayank Gupta​</p>
            </div>
            <div class="col-sm-3">
                <img src="../../../assets/images/alumni team/nikhil.webp">
                <p>Nikhil Bhukan</p>
            </div>
        </div>
    </div>
</div>

