<div class="forum" id="forum1">
    <div class="container" id="forum">
        <p style="text-align:left">Entrepreneurship A-Z</p>
        <h1 style="text-align: center;opacity:30%;">Entrepreneurship A-Z</h1>
        <p style="text-align: center;opacity:30%;">Share stories, ideas, pictures and more!</p>
        <br><br>
        <div style="border: 1px;">
            <div class="row" style="border: 1px; border-color: white;">
                <div class="col-md-6">
                    <h3>Already Have an Account?</h3>
                    <p>Log in to access the forum.</p><br>
                    <button class="btn btn-primary">Log In</button>
                </div>
                <div class="col-md-6">
                    <h3>Sign Up Today</h3>
                    <p>Join the forum to check out the posts and add your voice.</p><br>
                    <button class="btn btn-primary">Get started</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
