<div id="home">
    <div class="container" style="text-align: center;">
        <img src="../../../assets/images/knowlage.jpg" id="know">
    </div><br><br>
    <div class="container" id="about">
        <h3 style="text-align: center;">About Us</h3>
        <br>
        <div class="row">
            <div class="col-md-6" style="text-align: center;">
                <h2>Learning Together</h2>
                <h2>From the Comfort</h2>
                <h2>of Your Home</h2>
                <button class="btn btn-primary">Learn More</button>
                <br><br>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/Teen study group.webp" style="width:100%; height: auto;">
            </div>
        </div>
    </div><br><br>

    <div class="container">
        <div class="row">
            <div id="img1" class="col-md-8">
                <div class="container">
                    <h4>Our Courses</h4><br><br>
                    <div id="text1">
                        <h1>Your New</h1>
                        <h1>Journey Begins Here,</h1>
                        <h1>Today</h1>
                    </div>
                </div>
            </div>
            <div id="img1r" class="col-md-4" style="text-align: center;"><br><br><br>
                <h3 style="color: white;">Entrepreneurship</h3>
                <h3 style="color: white;"> made fun</h3><br><br>
                <button class="btn btn-primary">Explore Here</button>
                <br><br><br><br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/digital_marketing.jpg" style="width:max-content; height: auto;">
            </div>
            <div class="col-md-3" id="dm">
                <h1>Digital Marketing</h1><br>
                <button class="btn btn-primary">Explore Here</button>
                <br><br><br>
            </div>
            <div class="col-md-3">
                <img src="../../../assets/images/digital_marketing_per.webp" style="width:100%; height: auto;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="dm2">
                <h1>Product Management like a pro</h1>
                <button class="btn btn-primary">Explore Here</button>
                <br><br><br>
            </div>
            <div class="col-md-6">
                <div style="width:100%; height: auto;">
                    <img src="../../../assets/images/product_management.webp" style="width:100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: black; color: white;text-align: center; padding: 1%;">
        <h1>Our Course Benefits</h1>
    </div>
    <div class="container" id="course_benefits">
        <div class="content">
            <div class="row" style="text-align: center;">
                <div class="col-md-4">
                    <img src="../../../assets/images/expert_teachers.jpg" style="width: 100%; height: auto; max-width: 14rem;">
                    <br>
                    <p>
                        Our instructors are more adept at monitoring student problems and assessing their level of
                        understanding and progress, and they provide much more relevant, useful feedback.
                        We are experts in developing and testing hypotheses about learning difficulties or instructional
                        strategies.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../assets/images/online_commuity.jpg" style="width: 100%; height: auto; max-width: 17.5rem;">
                    <p>
                        Feel like home, with a "family of invisible friends".
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../assets/images/Flexible Curriculum.jpg" style="width: 100%; height: auto; max-width: 18rem;">
                    <p>
                        Our expert teachers design and curate the curriculum using best practices and careful
                        consideration of how people learn and retain information with the ongoing tech trends in the
                        professional domain. We've debated every facet of our methodology, from the order in which to
                        teach concepts, the analogies used to clarify them and how exercises should be structured to
                        deliver the maximum educational punch.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>