<div class="campus_ambassador" id="campus_ambassador">
    <div class="container-fluid" id="campregistration">
        <h1 style="text-align: center; color: aquamarine;">Campus Ambassador Registration</h1>
        <br><br>
        <div class="row g-3">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
                <h4 style="color: rgb(24, 184, 24);">WE ARE LOOKING FOR</h4>
                <h3 style="color:white">CAMPUS AMBASSADORS</h3>
            </div>
            <div class="col-sm-6">

            </div>
            <br><br>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2" style="margin-right: 0%;">
                <button class="btn btn-primary" style="margin: 5%;">Skills required ></button>
            </div>
            <div class="col-sm-2" style="margin-right: 0%;">
                <button class="btn btn-primary" style="margin: 5%; padding-left: 13%; padding-right: 13%;">Rewards
                    ></button>
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/images/camp_ambas.jpg" style="width: 100%; height: auto; max-width: 30rem;">
            </div>
            <div class="col-md-7" style="text-align:center;">
                <button class="btn btn-primary btn-lg" style="margin: 0%; padding: 1%;">Apply Now</button>
            </div>
            <div class="col-md-5">

            </div>
        </div><br><br><br>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" id="skillsreq">
                <br>
                <h1>SKILLS REQUIRED</h1><br>
                <ul>
                    <li>Social Media Presence of min 500 followers</li>
                    <li>Strategy and planning skills</li>
                    <li>Relationship building</li>
                    <li>Part of a college society or club</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/skills.webp" style="width: 100%; height: auto">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/rewards.webp" style="width: 100%; height: auto">
            </div>
            <div class="col-md-6" id="skillsreq">
                <br>
                <h1>Rewards</h1><br>
                <ul>
                    <li>'Campus Ambassador' certificate</li>
                    <li>Performance/target based cash rewards</li>
                    <li>'AMBASSADOR OF THE MONTH' certificate fortop performers</li>
                    <li>Free access to social events organised by TEN.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="campform">
        <div class="container" style="background-color:white; padding: 5%;">
            <h3>Campus Ambassador Registration Form</h3>
            <hr>
            <p>If you would like to be campus ambassador of TEN, please fill in your details in the form bellow and
                you will be automatically registered.</p>
            <form>
                <div class="row g-4">
                    <div class="col-md-6">
                        <label for="firstname" class="form-label">Name *</label>
                        <input type="text" class="form-control" placeholder="First" required>
                    </div>
                    <div class="col-md-6">
                        <label for="lastname" class="form-label">&nbsp;</label>
                        <input type="text" class="form-control" placeholder="Last" required>
                    </div>
                    <div class="col-md-12">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="col-md-12">
                        <label for="phoneno" class="form-label">Phone No *</label>
                        <input type="tel" class="form-control" required>
                    </div>
                    <div class="form-floating">
                        <label for="comments">Comments or questions</label>
                        <textarea class="form-control" style="height: 100px"></textarea>
                    </div>
                </div><br>
                <div style="text-align: center;">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div><br><br>
        <h3 style="color: white; text-align: center;">To complete your registration, please scan and pay</h3>
        <div style="text-align: center;">
            <br>
            <img src="../../../assets/images/qr_for_hiring.jpg">
        </div>
    </div>
</div>
