<div>
    <div class="membership" id="membership">
        <h1 style="text-align: center; font-size: 330%; color: rgb(253, 36, 36);">MEMBERSHIP REGISTRATION</h1>
        <div class="bteam" style="text-align: center;">
            <img src="../../../assets/images/BusinessTeam.webp" style="width:60%; height:auto;">
        </div>
        <div class="memb">
            <p>
                We, at The Entrepreneurship Network (TEN), have always been interested in associating
                ourselves with young professionals that show a constant zeal to learn and improve themselves.
                We therefore extend a cordial invitation to you to join our society.
            </p>
            <p>
                We are one of the fastest growing edu-tech startups in the world that not only provides you an
                opportunity to upskill yourself in the hottest technologies present today but also assist you
                in getting a job that complements that skill-set.
            </p>
            <p>
                The membership starts as low as INR 100/- (RUPEES ONE HUNDRED ONLY). Register and pay today to
                start exploring an ocean of opportunities.
            </p>
            <p>
                That's not it, become a member for an year and enjoy a free access to all courses, at an introductory
                price of INR 10000/- (RUPEES TEN THOUSAND ONLY).
            </p>
            <p>HURRY UP!!! DON'T FORGET TO SCAN AND PAY FOR COMPLETING YOUR REGISTRATION.</p>
            <div class="row">
                <div class="col-md-6" style="text-align: center; margin-top: 3%;">
                    <button class="btn btn-primary"
                        style="font-size: large; padding-left: 12.5%;padding-right: 12.5%;">PERKS</button>
                </div>
                <div class="col-md-6" style="text-align: center; margin-top: 3%;">
                    <button class="btn btn-primary"
                        style="font-size: large; padding-left: 5%;padding-right: 5%;">REGISTRATION</button>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="perks">
            <h1 style="text-align: center; font-size: 230%;">Perks</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Course Handbooks and other study material</li>
                        <li>Reduced product costs</li>
                        <li>Exclusive VIP Badges</li>
                        <li>Updates on relevant news and job opportunities</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/images/Perks.webp" style="width:100%; height: auto; max-width: 34rem;">
                </div>
            </div>
        </div>
        <div class="container-fluid" id="memform">
            <div class="container" style="background-color:white; padding: 5%;">
                <h3>Membership Registration Form</h3>
                <hr>
                <p>If you would like to be a part of TEN, please fill in your details in the form bellow and you will be
                    automatically registered.</p>
                <form>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <label for="firstname" class="form-label">Name *</label>
                            <input type="text" class="form-control" placeholder="First" required>
                        </div>
                        <div class="col-md-6">
                            <label for="lastname" class="form-label">&nbsp;</label>
                            <input type="text" class="form-control" placeholder="Last" required>
                        </div>
                        <div class="col-md-12">
                            <label for="email" class="form-label">Email *</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <div class="col-md-12">
                            <label for="phoneno" class="form-label">Phone No *</label>
                            <input type="tel" class="form-control" required>
                        </div>
                        <!-- <div class="col-md-12">
                    <label for="teamname" class="form-label">Team Name *</label>
                    <input type="text" class="form-control" required>
                </div> -->
                        <div class="form-floating">
                            <label for="comments">Comments or questions</label>
                            <textarea class="form-control" style="height: 100px"></textarea>
                            <!-- <label for="floatingTextarea2">Comments or questions</label> -->
                        </div>
                    </div><br>
                    <div style="text-align: center;">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div><br><br>
            <h3 style="color: white; text-align: center;">To complete your registration, please scan and pay</h3>
            <div style="text-align: center;">
                <br>
                <img src="../../../assets/images/qr_for_hiring.jpg">
            </div>
        </div>
    </div>
</div><br><br>

