<div class="hiring1" id="hiring1">
    <div class="container">
        <div class="hiring">
            <h3 [ngStyle]="{'text-align':'center'}"><b>We Are Hiring Interns</b></h3>
            <p>The Student Intern program is a structured and guided
                work-based learning program for students currently enrolled in India.</p>
            <p>
                There is a small registration fee, INR 100 /-
                (RUPEES ONE HUNDRED ONLY) applicable to all
                incoming interns as part of this One-of-a-Kind Point based Program.
                This is required not just to ensure a seamless on-boarding and exit
                process but also to supply the interns with relevant study material and make
                them aware of how a corporate setup works.
            </p>
            <div style="text-align: center;">
                <br>
                <img src="../../../assets/images/qr_for_hiring.jpg">
                <br><br>
            </div>
            <p><b>
                    Scan the QR code to complete your payment and submit the below
                    application form to start with your registration process.
                </b></p>
            <p>
                Please keep the payment transaction ID handy for submitting
                the form.
            </p>
            <p>
                Note: This internship does not offer an opportunity to earn money,
                rather helps an individual grow by working on the job and
                earn a certificate upon successful completion.
            </p>
            <p>
                Check out few of our open internship positions below
                Refer the application form for more open positions
            </p>
            <p><b>Digital Marketing Interns</b></p>
            <p><b>General Management Interns</b></p>
            <p><b>Technical/Software Experts</b></p>
            <p><b>Product Management Interns</b></p>
            <p><b>Content Interns and more...</b></p>
        </div>
    </div>
    <div class="container">
        <div class="container" id="intern_forms">
            <div [ngStyle]="{'text-align':'center'}">
                <h3>Application Form</h3>
                <p>Registration Fee Rs. 100/-</p>
            </div>
            <form>
                <div class="mb-3">
                    <label for="validationDefault04" class="form-label">Choose relevant internship opening *</label>
                    <select class="form-select" id="validationDefault04" required>
                        <option selected disabled value=""></option>
                        <option>Digital Marketing</option>
                        <option>Market Research</option>
                        <option>Sales</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="validationDefault04" class="form-label">What’s your employment status? *</label>
                    <select class="form-select" id="validationDefault04" required>
                        <option selected disabled value=""></option>
                        <option>College Student</option>
                        <option>Employed</option>
                        <option>Unemployed</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="validationDefault04" class="form-label">Do you have previous experience? *</label>
                    <select class="form-select" id="validationDefault04" required>
                        <option selected disabled value=""></option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Payment Transaction ID</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <button type="submit" class="btn btn-primary">Next</button>
            </form>


        </div>
    </div>
</div>