/* testimonials */
.testimonial .carousel-inner{
    text-align: center;
    align-items: center; 
}
.testimonial .carousel-item{
    background-color: cadetblue;
    height: 570px;
    width: 100%;
    padding: 8%;
    text-align: center;
    font-size: 150%;
    color: white;
    font-weight:330;
    
}
